<?xml version="1.0"?>
<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="false"/>
        <arg name="gui" value="true"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless" value="false"/>
    </include>

    <arg name="model" default="$(find rm_quadruped)/urdf/quadruped.xacro"/>
    <param name="robot_description" command="$(find xacro)/xacro '$(arg model)'"/>

    <rosparam file="$(find rm_quadruped)/config/joint_control.yaml" command="load"/>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model quadruped"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/quadruped" args="hip_RF_controller hip_RB_controller hip_LF_controller hip_LB_controller knee_RF_controller knee_RB_controller knee_LF_controller knee_LB_controller joint_state_controller"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
</launch>