<?xml version="1.0" ?>
<robot name="mrm" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find temp)/urdf/links_joints.xacro"/>
    <!-- first leg-->
    <MESH name="base_link"
          origin_xyz="0 0 0"
          origin_rpy="1.57070 0 0"
	  meshfile="package://temp/meshes/body.stl"
	  meshscale="0.001 0.001 0.001"
	  mass="1"
	  ixx="1"
	  ixy="1"
	  ixz="1"
	  iyy="1"
	  iyz="1"
	  izz="1">
    </MESH>
    <MESH name="link1"
          origin_xyz="0 -0.2011 0.038"
          origin_rpy="1.57070 0 0"
	  meshfile="package://temp/meshes/right_upper.stl"
	  meshscale="0.001 0.001 0.001"
	  mass="1"
	  ixx="1"
	  ixy="1"
	  ixz="1"
	  iyy="1"
	  iyz="1"
	  izz="1">
    </MESH>
    <JOINT_REVOLUTE name="base_link__link1" parent="base_link" child="link1" axis_xyz="1 0 0" origin_rpy="0 0 0" origin_xyz="0 0.2875 -0.044"/>
    <MESH name="dxel1"
          origin_xyz="0 0.012 0.1412"
          origin_rpy="1.57070 0 0"
	  meshfile="package://temp/meshes/right_lower.stl"
	  meshscale="0.001 0.001 0.001"
	  mass="1"
	  ixx="1"
	  ixy="1"
	  ixz="1"
	  iyy="1"
	  iyz="1"
	  izz="1">
    </MESH>
    <JOINT_REVOLUTE name="link1__dxel1" parent="link1" child="dxel1" axis_xyz="1 0 0" origin_rpy="0 0 0" origin_xyz="0 -0.22 -0.0945"/>
    <!--second leg-->
    <MESH name="link2"
          origin_xyz="0.25 -0.575 0.15"
          origin_rpy="1.9607 0 3.1416"
	  meshfile="package://temp/meshes/left_upper.stl"
	  meshscale="0.001 0.001 0.001"
	  mass="1"
	  ixx="1"
	  ixy="1"
	  ixz="1"
	  iyy="1"
	  iyz="1"
	  izz="1">
    </MESH>
    <JOINT_REVOLUTE name="base_link__link2" parent="base_link" child="link2" axis_xyz="1 0 0" origin_rpy="0 0 0" origin_xyz="0 0.2875 -0.044"/>
    <MESH name="dxel2"
          origin_xyz="0.25 -0.42 0.09"
          origin_rpy="1.57070 0 3.1416"
	  meshfile="package://temp/meshes/left_bottom.stl"
	  meshscale="0.001 0.001 0.001"
	  mass="1"
	  ixx="1"
	  ixy="1"
	  ixz="1"
	  iyy="1"
	  iyz="1"
	  izz="1">
    </MESH>
    <JOINT_REVOLUTE name="link2__dxel2" parent="link2" child="dxel2" axis_xyz="1 0 0" origin_rpy="0 0 0" origin_xyz="0 -0.22 -0.0945"/>
    <!--third leg-->
    <MESH name="link3"
          origin_xyz="0.25 -0.575 0.15"
          origin_rpy="1.9607 0 3.1416"
	  meshfile="package://temp/meshes/left_upper.stl"
	  meshscale="0.001 0.001 0.001"
	  mass="1"
	  ixx="1"
	  ixy="1"
	  ixz="1"
	  iyy="1"
	  iyz="1"
	  izz="1">
    </MESH>
    <JOINT_REVOLUTE name="base_link__link3" parent="base_link" child="link3" axis_xyz="1 0 0" origin_rpy="0 0 0" origin_xyz="0 -0.36 -0.044"/>
    <MESH name="dxel3"
          origin_xyz="0.25 -0.42 0.09"
          origin_rpy="1.57070 0 3.1416"
	  meshfile="package://temp/meshes/left_bottom.stl"
	  meshscale="0.001 0.001 0.001"
	  mass="1"
	  ixx="1"
	  ixy="1"
	  ixz="1"
	  iyy="1"
	  iyz="1"
	  izz="1">
    </MESH>
    <JOINT_REVOLUTE name="link3__dxel3" parent="link3" child="dxel3" axis_xyz="1 0 0" origin_rpy="0 0 0" origin_xyz="0 -0.22 -0.0945"/>
    <!-- fourth leg-->
    <MESH name="link4"
          origin_xyz="0 -0.2011 0.038"
          origin_rpy="1.57070 0 0"
	  meshfile="package://temp/meshes/right_upper.stl"
	  meshscale="0.001 0.001 0.001"
	  mass="1"
	  ixx="1"
	  ixy="1"
	  ixz="1"
	  iyy="1"
	  iyz="1"
	  izz="1">
    </MESH>
    <JOINT_REVOLUTE name="base_link__link4" parent="base_link" child="link4" axis_xyz="1 0 0" origin_rpy="0 0 0" origin_xyz="0 -0.36 -0.044"/>
    <MESH name="dxel4"
          origin_xyz="0 0.012 0.1412"
          origin_rpy="1.57070 0 0"
	  meshfile="package://temp/meshes/right_lower.stl"
	  meshscale="0.001 0.001 0.001"
	  mass="1"
	  ixx="1"
	  ixy="1"
	  ixz="1"
	  iyy="1"
	  iyz="1"
	  izz="1">
    </MESH>
    <JOINT_REVOLUTE name="link4__dxel4" parent="link4" child="dxel4" axis_xyz="1 0 0" origin_rpy="0 0 0" origin_xyz="0 -0.2 -0.0945"/>
    <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    </plugin>
  </gazebo>

</robot>
