<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="quad">
    <xacro:property name="PI" value="3.14159"/>
    <xacro:include filename="$(find rm_quad)/urdf/macros.xacro"/>
    <link name="base_footprint">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.001 0.001 0.001"/>
            </geometry>
            <material name="Blue">
                <color rgba="${58/255} ${83/255} ${155/255} 1.0"/>
            </material>
        </visual>
    </link>
    <joint name="base_joint" type="fixed">
        <origin xyz="0.0 0.0 0.45" rpy="0.0 0.0 0.0"/>
        <parent link="base_footprint"/>
        <child link="base_link"/>
    </joint>
    <xacro:LINK
        linkname="base_link"
        x="0.0"
        y="0.0"
        z="0.0"
        roll="0"
        pitch="0.0"
        yaw="0.0"
        meshfile="package://rm_quad/meshes/base_link.stl"
        colour="blue"
        mass="1.0"
        ixx="0.0"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0"
        iyz="0.0"
        izz="0.0"
    />
    <xacro:GAZEBO_LINK
        link="base_link"
        gazebo_colour="Gazebo/Blue"
    />
    <xacro:JOINT_REVOLUTE
        joint_name="hip_roll_FR"
        parent_link="base_link"
        child_link="hip_FR"
        x="0.23015"
        y="-0.0555"
        z="0.01185"
        roll="0.0"
        pitch="${PI/2}"
        yaw="0"
        ax="0"
        ay="0"
        az="1"
        Llimit="-${5*PI/18}"
        Ulimit="${5*PI/18}"
    />
    <xacro:TRANSMISSION
        joint_name="hip_roll_FR"
    />    
    <xacro:LINK
        linkname="hip_FR"
        x="0.0"
        y="-0.049"
        z="0.0"
        roll="0.0"
        pitch="0.0"
        yaw="0.0"
        meshfile="package://rm_quad/meshes/hip_R.stl"
        colour="grey"
        mass="0.5"
        ixx="0.0"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0"
        iyz="0.0"
        izz="0.0"
    />
    <xacro:GAZEBO_LINK
        link="hip_FR"
        gazebo_colour="Gazebo/Grey"
    />
    <xacro:JOINT_REVOLUTE
        joint_name="hip_roll_FL"
        parent_link="base_link"
        child_link="hip_FL"
        x="0.23015"
        y="0.0555"
        z="0.01185"
        roll="0.0"
        pitch="${PI/2}"
        yaw="0.0"
        ax="0"
        ay="0"
        az="1"
        Llimit="-${5*PI/18}"
        Ulimit="${5*PI/18}"
    />
    <xacro:TRANSMISSION
        joint_name="hip_roll_FL"
    />    
    <xacro:LINK
        linkname="hip_FL"
        x="0.0"
        y="0.049"
        z="0.0"
        roll="0.0"
        pitch="0.0"
        yaw="0.0"
        meshfile="package://rm_quad/meshes/hip_L.stl"
        colour="grey"
        mass="0.5"
        ixx="0.0"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0"
        iyz="0.0"
        izz="0.0"
    />
    <xacro:GAZEBO_LINK
        link="hip_FL"
        gazebo_colour="Gazebo/Grey"
    />
    <xacro:JOINT_REVOLUTE
        joint_name="hip_roll_RR"
        parent_link="base_link"
        child_link="hip_RR"
        x="-0.23015"
        y="-0.0555"
        z="0.01185"
        roll="0.0"
        pitch="${PI/2}"
        yaw="${PI}"
        ax="0"
        ay="0"
        az="1"
        Llimit="-${5*PI/18}"
        Ulimit="${5*PI/18}"
    />
    <xacro:TRANSMISSION
        joint_name="hip_roll_RR"
    />    
    <xacro:LINK
        linkname="hip_RR"
        x="0.0"
        y="0.049"
        z="0.0"
        roll="${PI}"
        pitch="0.0"
        yaw="0.0"
        meshfile="package://rm_quad/meshes/hip_R.stl"
        colour="grey"
        mass="0.5"
        ixx="0.0"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0"
        iyz="0.0"
        izz="0.0"
    />
    <xacro:GAZEBO_LINK
        link="hip_RR"
        gazebo_colour="Gazebo/Grey"
    />
    <xacro:JOINT_REVOLUTE
        joint_name="hip_roll_RL"
        parent_link="base_link"
        child_link="hip_RL"
        x="-0.23015"
        y="0.0555"
        z="0.01185"
        roll="0.0"
        pitch="${PI/2}"
        yaw="${PI}"
        ax="0"
        ay="0"
        az="1"
        Llimit="-${5*PI/18}"
        Ulimit="${5*PI/18}"
    />
    <xacro:TRANSMISSION
        joint_name="hip_roll_RL"
    />    
    <xacro:LINK
        linkname="hip_RL"
        x="0.0"
        y="-0.049"
        z="0.0"
        roll="${PI}"
        pitch="0.0"
        yaw="0.0"
        meshfile="package://rm_quad/meshes/hip_L.stl"
        colour="grey"
        mass="0.5"
        ixx="0.0"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0"
        iyz="0.0"
        izz="0.0"
    />
    <xacro:GAZEBO_LINK
        link="hip_RL"
        gazebo_colour="Gazebo/Grey"
    />
    <xacro:JOINT_REVOLUTE
        joint_name="hip_pitch_FR"
        parent_link="hip_FR"
        child_link="thigh_FR"
        x="0.0"
        y="-0.1145"
        z="0.0"
        roll="${PI/2}"
        pitch="0.0"
        yaw="0.0"
        ax="0"
        ay="0"
        az="1"
        Llimit="${-5*PI/18}"
        Ulimit="${PI/2}"
    />
    <xacro:TRANSMISSION
        joint_name="hip_pitch_FR"
    />    
    <xacro:LINK
        linkname="thigh_FR"
        x="0.1128"
        y="-0.06165"
        z="0.006"
        roll="${-PI/2}"
        pitch="0.0"
        yaw="${PI/2}"
        meshfile="package://rm_quad/meshes/thigh_R.stl"
        colour="white"
        mass="0.5"
        ixx="0.0"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0"
        iyz="0.0"
        izz="0.0"
    />
    <xacro:GAZEBO_LINK
        link="thigh_FR"
        gazebo_colour="Gazebo/White"
    />
    <xacro:JOINT_REVOLUTE
        joint_name="hip_pitch_RR"
        parent_link="hip_RR"
        child_link="thigh_RR"
        x="0.0"
        y="0.1145"
        z="0.0"
        roll="${-PI/2}"
        pitch="0.0"
        yaw="0.0"
        ax="0"
        ay="0"
        az="1"
        Llimit="${-5*PI/18}"
        Ulimit="${PI/2}"
    />
    <xacro:TRANSMISSION
        joint_name="hip_pitch_RR"
    />    
    <xacro:LINK
        linkname="thigh_RR"
        x="0.1128"
        y="-0.06165"
        z="0.006"
        roll="${-PI/2}"
        pitch="0.0"
        yaw="${PI/2}"
        meshfile="package://rm_quad/meshes/thigh_R.stl"
        colour="white"
        mass="0.5"
        ixx="0.0"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0"
        iyz="0.0"
        izz="0.0"
    />
    <xacro:GAZEBO_LINK
        link="thigh_RR"
        gazebo_colour="Gazebo/White"
    />
    <xacro:JOINT_REVOLUTE
        joint_name="hip_pitch_FL"
        parent_link="hip_FL"
        child_link="thigh_FL"
        x="0.0"
        y="0.1145"
        z="0.0"
        roll="${-PI/2}"
        pitch="0.0"
        yaw="0.0"
        ax="0"
        ay="0"
        az="1"
        Llimit="${-PI/2}"
        Ulimit="${5*PI/18}"
    />
    <xacro:TRANSMISSION
        joint_name="hip_pitch_FL"
    />    
    <xacro:LINK
        linkname="thigh_FL"
        x="0.1128"
        y="0.06165"
        z="0.006"
        roll="${PI/2}"
        pitch="0.0"
        yaw="${-PI/2}"
        meshfile="package://rm_quad/meshes/thigh_L.stl"
        colour="white"
        mass="0.5"
        ixx="0.0"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0"
        iyz="0.0"
        izz="0.0"
    />
    <xacro:GAZEBO_LINK
        link="thigh_FL"
        gazebo_colour="Gazebo/White"
    />
    <xacro:JOINT_REVOLUTE
        joint_name="hip_pitch_RL"
        parent_link="hip_RL"
        child_link="thigh_RL"
        x="0.0"
        y="-0.1145"
        z="0.0"
        roll="${PI/2}"
        pitch="0.0"
        yaw="0.0"
        ax="0"
        ay="0"
        az="1"
        Llimit="${-PI/2}"
        Ulimit="${5*PI/18}"
    />
    <xacro:TRANSMISSION
        joint_name="hip_pitch_RL"
    />    
    <xacro:LINK
        linkname="thigh_RL"
        x="0.1128"
        y="0.06165"
        z="0.006"
        roll="${PI/2}"
        pitch="0.0"
        yaw="${-PI/2}"
        meshfile="package://rm_quad/meshes/thigh_L.stl"
        colour="white"
        mass="0.5"
        ixx="0.0"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0"
        iyz="0.0"
        izz="0.0"
    />
    <xacro:GAZEBO_LINK
        link="thigh_RL"
        gazebo_colour="Gazebo/White"
    />
    <xacro:JOINT_REVOLUTE
        joint_name="knee_pitch_FR"
        parent_link="thigh_FR"
        child_link="crus_FR"
        x="0.241"
        y="-0.138.3"
        z="0.0053"
        roll="0.0"
        pitch="0.0"
        yaw="0.0"
        ax="0"
        ay="0"
        az="1"
        Llimit="${-5*PI/6}"
        Ulimit="${PI/6}"
    />
    <xacro:TRANSMISSION
        joint_name="knee_pitch_FR"
    />    
    <xacro:LINK
        linkname="crus_FR"
        x="0.1125"
        y="0.096"
        z="0.0"
        roll="${PI/2}"
        pitch="0.0"
        yaw="0.0"
        meshfile="package://rm_quad/meshes/crus_R.stl"
        colour="white"
        mass="0.5"
        ixx="0.0"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0"
        iyz="0.0"
        izz="0.0"
    />
    <xacro:GAZEBO_LINK
        link="crus_FR"
        gazebo_colour="Gazebo/White"
    />
    <xacro:JOINT_REVOLUTE
        joint_name="knee_pitch_RR"
        parent_link="thigh_RR"
        child_link="crus_RR"
        x="0.241"
        y="-0.138.3"
        z="0.0053"
        roll="0.0"
        pitch="0.0"
        yaw="0.0"
        ax="0"
        ay="0"
        az="1"
        Llimit="${-5*PI/6}"
        Ulimit="${PI/6}"
    />
    <xacro:TRANSMISSION
        joint_name="knee_pitch_RR"
    />    
    <xacro:LINK
        linkname="crus_RR"
        x="0.1125"
        y="0.096"
        z="0.0"
        roll="${PI/2}"
        pitch="0.0"
        yaw="0.0"
        meshfile="package://rm_quad/meshes/crus_R.stl"
        colour="white"
        mass="0.5"
        ixx="0.0"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0"
        iyz="0.0"
        izz="0.0"
    />
    <xacro:GAZEBO_LINK
        link="crus_RR"
        gazebo_colour="Gazebo/White"
    />
    <xacro:JOINT_REVOLUTE
        joint_name="knee_pitch_FL"
        parent_link="thigh_FL"
        child_link="crus_FL"
        x="0.241"
        y="0.138.3"
        z="0.0053"
        roll="0.0"
        pitch="0.0"
        yaw="0.0"
        ax="0"
        ay="0"
        az="1"
        Llimit="${-PI/6}"
        Ulimit="${5*PI/6}"
    />
    <xacro:TRANSMISSION
        joint_name="knee_pitch_FL"
    />    
    <xacro:LINK
        linkname="crus_FL"
        x="0.1125"
        y="-0.096"
        z="0.0"
        roll="${-PI/2}"
        pitch="0.0"
        yaw="0.0"
        meshfile="package://rm_quad/meshes/crus_L.stl"
        colour="white"
        mass="0.5"
        ixx="0.0"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0"
        iyz="0.0"
        izz="0.0"
    />
    <xacro:GAZEBO_LINK
        link="crus_FL"
        gazebo_colour="Gazebo/White"
    />
    <xacro:JOINT_REVOLUTE
        joint_name="knee_pitch_RL"
        parent_link="thigh_RL"
        child_link="crus_RL"
        x="0.241"
        y="0.138.3"
        z="0.0053"
        roll="0.0"
        pitch="0.0"
        yaw="0.0"
        ax="0"
        ay="0"
        az="1"
        Llimit="${-PI/6}"
        Ulimit="${5*PI/6}"
    />
    <xacro:TRANSMISSION
        joint_name="knee_pitch_RL"
    />    
    <xacro:LINK
        linkname="crus_RL"
        x="0.1125"
        y="-0.096"
        z="0.0"
        roll="${-PI/2}"
        pitch="0.0"
        yaw="0.0"
        meshfile="package://rm_quad/meshes/crus_L.stl"
        colour="white"
        mass="0.5"
        ixx="0.0"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0"
        iyz="0.0"
        izz="0.0"
    />
    <xacro:GAZEBO_LINK
        link="crus_RL"
        gazebo_colour="Gazebo/White"
    />
    
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/quad</robotNamespace>
        </plugin>
    </gazebo>
</robot>