<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="quadruped">
    <xacro:property name="PI" value="3.14159"/>
    <xacro:include filename="$(find rm_quadruped)/urdf/macros.xacro"/>
    <link name="base_footprint">
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.001 0.001 0.001"/>
            </geometry>
            <material name="silver">
                <color rgba="${192/255} ${192/255} ${192/255} 1.0"/>
            </material>
        </visual>
    </link>
    <joint name="base_joint" type="fixed">
        <origin xyz="0.0 0.0 0.420" rpy="0.0 0.0 0.0"/>
        <parent link="base_footprint"/>
        <child link="base_link"/>
    </joint>
    <xacro:LINK
        linkname="base_link"
        x="0.0"
        y="0.0"
        z="0.0"
        roll="0"
        pitch="0"
        yaw="0"
        meshfile="package://rm_quadruped/meshes/frame.dae"
        mass="1.0"
        ixx="0.0"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0"
        iyz="0.0"
        izz="0.0"
    />
    <xacro:GAZEBO_LINK
        link="base_link"
        gazebo_colour="Gazebo/Grey"
    />
    <xacro:JOINT_REVOLUTE
        joint_name="hip_RF"
        parent_link="base_link"
        child_link="thigh_RF"
        x="0.3421"
        y="-0.150"
        z="-0.0634"
        roll="${PI/2}"
        pitch="${PI/2}"
        yaw="0"
        ax="0"
        ay="0"
        az="1"
        Llimit="-0.5236"
        Ulimit="0.5236"
    />
    <xacro:TRANSMISSION
        joint_name="hip_RF"
    />
    <xacro:LINK
        linkname="thigh_RF"
        x="0.0"
        y="0.0"
        z="0.0"
        roll="0.0"
        pitch="0.0"
        yaw="0"
        meshfile="package://rm_quadruped/meshes/thigh_RF.dae"
        mass="0.2"
        ixx="0.0"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0"
        iyz="0.0"
        izz="0.0"
    />
    <xacro:GAZEBO_LINK
        link="thigh_RF"
        gazebo_colour="Gazebo/Grey"
    />
    <xacro:JOINT_REVOLUTE
        joint_name="hip_RB"
        parent_link="base_link"
        child_link="thigh_RB"
        x="-0.3421"
        y="-0.150"
        z="-0.0634"
        roll="${PI/2}"
        pitch="${PI/2}"
        yaw="0"
        ax="0"
        ay="0"
        az="1"
        Llimit="-0.5236"
        Ulimit="0.5236"
    />
    <xacro:TRANSMISSION
        joint_name="hip_RB"
    />
    <xacro:LINK
        linkname="thigh_RB"
        x="0.0"
        y="0.0"
        z="0.0"
        roll="0.0"
        pitch="0.0"
        yaw="0"
        meshfile="package://rm_quadruped/meshes/thigh_RB.dae"
        mass="0.2"
        ixx="0.0"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0"
        iyz="0.0"
        izz="0.0"
    />
    <xacro:GAZEBO_LINK
        link="thigh_RB"
        gazebo_colour="Gazebo/Grey"
    />
    <xacro:JOINT_REVOLUTE
        joint_name="knee_RF"
        parent_link="thigh_RF"
        child_link="crus_RF"
        x="0.1247"
        y="-0.2054"
        z="0.0628"
        roll="0"
        pitch="0"
        yaw="0"
        ax="0"
        ay="0"
        az="1"
        Llimit="-0.5236"
        Ulimit="0.5236"
    />
    <xacro:TRANSMISSION
        joint_name="knee_RF"
    />
    <xacro:LINK
        linkname="crus_RF"
        x="0.0"
        y="0.0"
        z="0.0"
        roll="0.0"
        pitch="0.0"
        yaw="0"
        meshfile="package://rm_quadruped/meshes/crus_RF.dae"
        mass="0.2"
        ixx="0.0"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0"
        iyz="0.0"
        izz="0.0"
    />
    <xacro:GAZEBO_LINK
        link="crus_RF"
        gazebo_colour="Gazebo/Grey"
    />
    <xacro:JOINT_REVOLUTE
        joint_name="knee_RB"
        parent_link="thigh_RB"
        child_link="crus_RB"
        x="0.1247"
        y="-0.2054"
        z="0.0628"
        roll="0"
        pitch="0"
        yaw="0"
        ax="0"
        ay="0"
        az="1"
        Llimit="-0.5236"
        Ulimit="0.5236"
    />
    <xacro:TRANSMISSION
        joint_name="knee_RB"
    />
    <xacro:LINK
        linkname="crus_RB"
        x="0.0"
        y="0.0"
        z="0.0"
        roll="0.0"
        pitch="0.0"
        yaw="0"
        meshfile="package://rm_quadruped/meshes/crus_RB.dae"
        mass="0.2"
        ixx="0.0"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0"
        iyz="0.0"
        izz="0.0"
    />
    <xacro:GAZEBO_LINK
        link="crus_RB"
        gazebo_colour="Gazebo/Grey"
    />
    <xacro:JOINT_REVOLUTE
        joint_name="hip_LF"
        parent_link="base_link"
        child_link="thigh_LF"
        x="0.3421"
        y="0.150"
        z="-0.0634"
        roll="${PI/2}"
        pitch="${PI/2}"
        yaw="0"
        ax="0"
        ay="0"
        az="1"
        Llimit="-0.5236"
        Ulimit="0.5236"
    />
    <xacro:TRANSMISSION
        joint_name="hip_LF"
    />
    <xacro:LINK
        linkname="thigh_LF"
        x="0.0"
        y="0.0"
        z="0.0"
        roll="0.0"
        pitch="0.0"
        yaw="0"
        meshfile="package://rm_quadruped/meshes/thigh_LF.dae"
        mass="0.2"
        ixx="0.0"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0"
        iyz="0.0"
        izz="0.0"
    />
    <xacro:GAZEBO_LINK
        link="thigh_LF"
        gazebo_colour="Gazebo/Grey"
    />
    <xacro:JOINT_REVOLUTE
        joint_name="hip_LB"
        parent_link="base_link"
        child_link="thigh_LB"
        x="-0.3421"
        y="0.150"
        z="-0.0634"
        roll="${PI/2}"
        pitch="${PI/2}"
        yaw="0"
        ax="0"
        ay="0"
        az="1"
        Llimit="-0.5236"
        Ulimit="0.5236"
    />
    <xacro:TRANSMISSION
        joint_name="hip_LB"
    />
    <xacro:LINK
        linkname="thigh_LB"
        x="0.0"
        y="0.0"
        z="0.0"
        roll="0.0"
        pitch="0.0"
        yaw="0"
        meshfile="package://rm_quadruped/meshes/thigh_LB.dae"
        mass="0.2"
        ixx="0.0"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0"
        iyz="0.0"
        izz="0.0"
    />
    <xacro:GAZEBO_LINK
        link="thigh_LB"
        gazebo_colour="Gazebo/Grey"
    />
    <xacro:JOINT_REVOLUTE
        joint_name="knee_LF"
        parent_link="thigh_LF"
        child_link="crus_LF"
        x="0.1247"
        y="-0.2054"
        z="-0.0628"
        roll="0"
        pitch="0"
        yaw="0"
        ax="0"
        ay="0"
        az="1"
        Llimit="-0.5236"
        Ulimit="0.5236"
    />
    <xacro:TRANSMISSION
        joint_name="knee_LF"
    />
    <xacro:LINK
        linkname="crus_LF"
        x="0.0"
        y="0.0"
        z="0.0"
        roll="0.0"
        pitch="0.0"
        yaw="0"
        meshfile="package://rm_quadruped/meshes/crus_LF.dae"
        mass="0.2"
        ixx="0.0"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0"
        iyz="0.0"
        izz="0.0"
    />
    <xacro:GAZEBO_LINK
        link="crus_LF"
        gazebo_colour="Gazebo/Grey"
    />
    <xacro:JOINT_REVOLUTE
        joint_name="knee_LB"
        parent_link="thigh_LB"
        child_link="crus_LB"
        x="0.1247"
        y="-0.2054"
        z="-0.0628"
        roll="0"
        pitch="0"
        yaw="0"
        ax="0"
        ay="0"
        az="1"
        Llimit="-0.5236"
        Ulimit="0.5236"
    />
    <xacro:TRANSMISSION
        joint_name="knee_LB"
    />
    <xacro:LINK
        linkname="crus_LB"
        x="0.0"
        y="0.0"
        z="0.0"
        roll="0.0"
        pitch="0.0"
        yaw="0"
        meshfile="package://rm_quadruped/meshes/crus_LB.dae"
        mass="0.2"
        ixx="0.0"
        ixy="0.0"
        ixz="0.0"
        iyy="0.0"
        iyz="0.0"
        izz="0.0"
    />
    <xacro:GAZEBO_LINK
        link="crus_LB"
        gazebo_colour="Gazebo/Grey"
    />

</robot>