<launch>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find quadped1)/urdf/robot.xacro'"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
  <node name="jointpublisher" pkg="quadped1" type="jointpublisher.py" output="screen"/>
  <node name="rviz" pkg="rviz" type="rviz"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
      <param name="use_gui" value="False"/>
  </node>
</launch>
